header {
  width: 100%;
  height: 50px;
  background: #010101;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  header div {
    width: 98%;
    margin: auto;
    display: table; }
    header div h1 {
      float: left;
      margin-top: 6px; }
    header div #menu-bar {
      display: none; }
      header div #menu-bar:checked ~ .menu {
        transform: translatey(0); }
    header div label {
      float: right;
      font-size: 28px;
      margin: 6px 0px;
      cursor: pointer; }
    header div nav {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.9);
      transition: all 0.5s;
      transform: translatey(-110%); }
      header div nav a {
        display: block;
        color: white;
        height: 50px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        header div nav a:hover {
          background: rgba(255, 255, 255, 0.507);
          color: black; }

@media (min-width: 1024px) {
  header div label {
    display: none; }
  header div nav {
    position: static;
    width: auto;
    height: auto;
    transform: translatex(-10%);
    display: flex;
    float: right; }
    header div nav a {
      margin: 0px 10px;
      border: none;
      font-size: 1.5em; }
      header div nav a:hover {
        background-color: black;
        color: white; } }

footer {
  background-color: rgba(121, 114, 114, 0.073); }
  footer .yo {
    display: flex;
    flex-direction: column; }
    footer .yo h3 {
      font-size: 1.5em;
      margin: 30px 0px;
      text-align: center;
      color: white; }
    footer .yo div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 1.5em;
      text-decoration: none; }
      footer .yo div .instagram {
        animation: instagram 3s infinite;
        animation-direction: alternate; }

@keyframes instagram {
  0% {
    color: white; }
  100% {
    color: #df01df; } }
      footer .yo div .linkedin {
        animation: linkedin 3s infinite;
        animation-direction: alternate; }

@keyframes linkedin {
  0% {
    color: white; }
  100% {
    color: #160aff; } }
      footer .yo div .youtube {
        animation: youtube 3s infinite;
        animation-direction: alternate; }

@keyframes youtube {
  0% {
    color: white; }
  100% {
    color: #e11b1b; } }
  footer .productos {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 20px auto; }
    footer .productos h3 {
      font-size: 1.5em;
      margin: 0px 0px 20px 0px;
      text-align: center; }
    footer .productos ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      footer .productos ul li {
        font-size: 13px;
        margin: 10px 0px; }
  footer p {
    margin: 30px 0px;
    font-size: 0.8em;
    text-align: center;
    color: white; }
  footer .derechos {
    height: 30px;
    text-align: center;
    font-size: 7px;
    color: white; }

@media (min-width: 768px) {
  footer .yo {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    footer .yo h3 {
      font-size: 2em; }
    footer .yo div {
      flex-direction: column; }
      footer .yo div a {
        font-size: 1.5em;
        margin-bottom: 45px; }
  footer .productos {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0; }
    footer .productos h3 {
      font-size: 2em; }
    footer .productos ul li {
      font-size: 1em; }
  footer p {
    font-size: 1em; } }

@media (min-width: 1024px) {
  footer .yo {
    margin: 0px 50px;
    justify-content: space-between; }
    footer .yo div {
      flex-direction: row;
      align-content: center;
      margin: 0px; }
      footer .yo div a {
        margin: 0px 20px; }
  footer .productos {
    margin: 0px 50px;
    margin-top: 40px;
    justify-content: space-between; }
    footer .productos ul {
      flex-direction: row; }
      footer .productos ul li {
        margin: 0px 20px; } }

.banner {
  margin-top: 50px;
  position: relative; }
  .banner img {
    width: 100%;
    height: 100%; }
  .banner div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-80%) translateY(-100%);
    color: white; }
    .banner div h2 {
      font-size: 1.5em; }
    .banner div a {
      display: block;
      width: 100px;
      color: white;
      text-decoration: none;
      padding: 10px;
      margin-top: 20px;
      border: 2px solid white; }
      .banner div a:hover {
        background: rgba(51, 51, 51, 0.5); }

@media (min-width: 480px) {
  .banner div {
    transform: translateX(-90%) translateY(-100%); }
    .banner div h2 {
      font-size: 35px;
      margin-bottom: 30px; }
    .banner div a {
      margin-top: 30px; } }

@media (min-width: 768px) {
  .banner {
    height: 300px;
    overflow: hidden; }
    .banner div {
      transform: translateX(-80%) translateY(-50%); }
    .banner img {
      height: auto;
      margin-top: -130px; } }

@media (min-width: 1024px) {
  .banner img {
    margin-top: -220px; }
  .banner div a {
    display: none; } }

.introduccion {
  text-align: center;
  color: white; }
  .introduccion h2 {
    margin: 30px auto;
    font-size: 2em; }
  .introduccion p {
    font-size: 1em;
    margin-top: 30px; }

.secciones .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .secciones .contenedor .colaboraciones {
    margin: 0px 30px 30px 30px; }
    .secciones .contenedor .colaboraciones img {
      width: 100%; }
  .secciones .contenedor .guitarra {
    margin: 30px; }
    .secciones .contenedor .guitarra div img {
      width: 100%; }
    .secciones .contenedor .guitarra div .especificaciones {
      display: none;
      width: 500px;
      flex-direction: column;
      background-color: rgba(84, 81, 81, 0.425); }
      .secciones .contenedor .guitarra div .especificaciones ul {
        list-style-type: circle; }

@keyframes instrumento {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(30deg); } }
  .secciones .contenedor .bajo {
    margin: 30px; }
    .secciones .contenedor .bajo div img {
      width: 100%; }
    .secciones .contenedor .bajo div .especificaciones {
      flex-direction: column;
      background-color: rgba(84, 81, 81, 0.425);
      display: none;
      width: 500px; }
      .secciones .contenedor .bajo div .especificaciones ul {
        list-style-type: circle; }

@keyframes instrumento {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(30deg); } }

@media (min-width: 768px) {
  .introduccion h2 {
    font-size: 3em; }
  .introduccion p {
    font-size: 2em; }
  .secciones .contenedor .colaboraciones h4 {
    font-size: 2em; }
  .secciones .contenedor .guitarra h4 {
    font-size: 2em; }
  .secciones .contenedor .guitarra div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .secciones .contenedor .guitarra div .especificaciones {
      display: flex;
      width: 80%;
      margin: 30px auto; }
  .secciones .contenedor .bajo h4 {
    font-size: 2em; }
  .secciones .contenedor .bajo div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .secciones .contenedor .bajo div .especificaciones {
      display: flex;
      width: 80%;
      margin: 30px auto; } }

@media (min-width: 1024px) {
  .secciones .contenedor .guitarra div {
    flex-direction: row; }
    .secciones .contenedor .guitarra div img {
      width: 50%;
      height: 50%;
      align-self: center; }
    .secciones .contenedor .guitarra div .especificaciones {
      margin: 20px;
      width: 400px; }
  .secciones .contenedor .bajo div {
    flex-direction: row; }
    .secciones .contenedor .bajo div img {
      width: 50%;
      height: 50%;
      align-self: center; }
    .secciones .contenedor .bajo div .especificaciones {
      margin: 20px;
      width: 400px; } }

.titulos {
  margin-top: 60px;
  position: relative; }
  .titulos h1 {
    margin: 10px 0px;
    color: white;
    text-align: center;
    font-size: 1.5em; }

.select {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px 0px; }
  .select .selector {
    width: 100px;
    font-size: 12px;
    height: 40px;
    color: white;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid rgba(168, 159, 159, 0.605);
    background-color: black; }

@media (min-width: 768px) {
  .select .selector {
    width: 130px;
    font-size: 18px; } }

@media (min-width: 1024px) {
  .select {
    margin: 150px 0px; }
    .select .selector {
      width: 150px; } }

form {
  width: 80%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 15px;
  border: 2px solid rgba(200, 199, 199, 0.5); }
  form h2 {
    color: #979db9;
    text-align: center;
    margin: 0;
    font-size: 15px;
    margin-bottom: 20px; }
  form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box; }
  form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    min-height: 120px;
    max-height: 220px;
    max-width: 100%; }
  form #boton {
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px; }
    form #boton:hover {
      background: rgba(236, 233, 233, 0.4);
      color: black;
      cursor: pointer; }

@media (min-width: 500px) {
  form {
    width: 60%;
    margin-bottom: 50px; } }

@media (min-width: 768px) {
  form {
    width: 450px; } }

.instrumentos {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  width: 95%; }
  .instrumentos .card img {
    width: 50%;
    margin: 20px auto; }
    .instrumentos .card img.a:hover {
      filter: drop-shadow(0 0 30px #b3ff00); }
    .instrumentos .card img.b:hover {
      filter: drop-shadow(0 0 30px #ffbf00); }
    .instrumentos .card img.c:hover {
      filter: drop-shadow(0 0 20px #7d63ba); }
    .instrumentos .card img.d:hover {
      filter: drop-shadow(0 0 30px #4eb6c4); }
    .instrumentos .card img.e:hover {
      filter: drop-shadow(0 0 30px #ff00e1); }
    .instrumentos .card img.f:hover {
      filter: drop-shadow(0 0 30px #2bff00); }
    .instrumentos .card img.g:hover {
      filter: drop-shadow(0 0 30px red); }
    .instrumentos .card img.h:hover {
      filter: drop-shadow(0 0 30px white); }
  .instrumentos .card h4 {
    font-size: 16px;
    margin: 20px auto;
    color: white; }

@media (min-width: 768px) {
  .instrumentos {
    grid-template-columns: 1fr 1fr; }
    .instrumentos .card h4 {
      font-size: 20px; } }

@media (min-width: 1024px) {
  .instrumentos {
    grid-template-columns: repeat(4, 1fr); } }

.galeria {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(1fr, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
  gap: 10px; }
  .galeria figure {
    position: relative; }
    .galeria figure img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .galeria figure figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0.8); }
      .galeria figure figcaption:hover {
        height: 100%; }
        .galeria figure figcaption:hover p {
          display: flex; }
      .galeria figure figcaption h2 {
        text-align: center; }
      .galeria figure figcaption p {
        display: none;
        font-size: 14px;
        padding: 10px; }

@media (min-width: 768px) {
  .galeria {
    display: grid;
    width: 90%;
    margin: 50px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(400px 250px 250px 400px, 1fr);
    gap: 20px; }
    .galeria figure figcaption p {
      font-size: 18px; }
    .galeria figure:nth-child(1) {
      grid-column: 1 / 9; }
    .galeria figure:nth-child(2) {
      grid-column: 1 / 6; }
    .galeria figure:nth-child(3) {
      grid-column: 1 / 6; }
    .galeria figure:nth-child(4) {
      grid-column: 6 / 9;
      grid-row: 2 / 4; }
    .galeria figure:nth-child(5) {
      grid-column: 1 / 9; } }

@media (min-width: 1024px) {
  .galeria {
    grid-template-rows: 500px 300px 300px 500px; }
    .galeria figure figcaption p {
      font-size: 1.2em; } }

.card, .instrumentos .card {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 10px auto;
  background-color: rgba(72, 68, 68, 0.413);
  border: 1px solid white;
  border-radius: 10px; }

.subtitulos, .secciones .contenedor .colaboraciones h4, .secciones .contenedor .guitarra h4, .secciones .contenedor .bajo h4 {
  color: rgba(181, 181, 181, 0.9);
  text-align: center;
  margin: 50px 0px;
  border: 2px solid rgba(168, 159, 159, 0.605);
  border-radius: 15px; }

.animaciones, .secciones .contenedor .guitarra div img, .secciones .contenedor .bajo div img {
  animation: instrumento 5s infinite;
  animation-direction: alternate; }

.li, .secciones .contenedor .guitarra div .especificaciones ul li, .secciones .contenedor .bajo div .especificaciones ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(153, 148, 148, 0.498); }

.titulo-esp, .secciones .contenedor .guitarra div .especificaciones h5, .secciones .contenedor .bajo div .especificaciones h5 {
  text-align: center;
  padding: 10px;
  font-size: 2em;
  border-bottom: 1px solid rgba(153, 148, 148, 0.498); }
