header {
  width: 100%;
  height: 60px;
  background: #010101;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  header div {
    width: 98%;
    margin: auto;
    display: table; }
    header div h1 {
      float: left;
      margin-top: 6px; }
    header div #menu-bar {
      display: none; }
      header div #menu-bar:checked ~ .menu {
        transform: translateX(0); }
    header div label {
      float: right;
      font-size: 28px;
      margin: 6px 6px;
      cursor: pointer; }
    header div nav {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: auto;
      background: rgba(0, 0, 0, 0.9);
      transition: all 0.5s;
      transform: translatex(-110%); }
      header div nav a {
        display: block;
        color: white;
        height: 50px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        header div nav a:hover {
          background: rgba(255, 255, 255, 0.507);
          color: black; }

footer {
  background-color: rgba(121, 114, 114, 0.073); }
  footer .yo {
    display: flex;
    flex-direction: column;
    color: white; }
    footer .yo h3 {
      font-size: 1em;
      margin: 30px 0px;
      text-align: center; }
    footer .yo div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 1.5em; }
      footer .yo div a {
        text-decoration: none;
        color: white; }
        footer .yo div a:hover {
          position: relative;
          bottom: 3px;
          color: white; }
  footer .productos {
    display: flex;
    flex-direction: column;
    color: white; }
    footer .productos h3 {
      font-size: 1.5em;
      margin: 0px 0px 20px 0px;
      text-align: center; }
    footer .productos ul {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .productos ul li {
        font-size: 13px;
        text-decoration: none;
        margin: 10px 0px;
        list-style-type: none; }
  footer p {
    margin: 30px 0px;
    font-size: 0.8em;
    text-align: center;
    color: white; }
  footer .derechos {
    height: 30px;
    text-align: center;
    font-size: 7px;
    color: white; }

.banner {
  margin-top: 60px;
  position: relative; }
  .banner img {
    width: 100%;
    height: 100%; }
  .banner div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-95%) translateY(-130%);
    color: white; }
    .banner div h2 {
      font-size: 1.5em; }
    .banner div a {
      display: block;
      width: 100px;
      color: white;
      text-decoration: none;
      padding: 10px;
      margin-top: 20px;
      border: 2px solid white; }
      .banner div a:hover {
        background: rgba(51, 51, 51, 0.5); }
  .banner .informacion-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(30%);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    background: rgba(35, 34, 34, 0.564); }
    .banner .informacion-inicio p {
      font-size: 7px; }

.introduccion {
  text-align: center;
  color: white; }
  .introduccion h2 {
    margin: 30px auto; }
  .introduccion p {
    font-size: 9px;
    margin-top: 30px; }

.secciones .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .secciones .contenedor .colaboraciones {
    margin: 0px 30px 30px 30px; }
    .secciones .contenedor .colaboraciones h4 {
      color: rgba(181, 181, 181, 0.9);
      text-align: center;
      margin: 50px 0px;
      border: 2px solid rgba(168, 159, 159, 0.605);
      border-radius: 15px; }
    .secciones .contenedor .colaboraciones img {
      width: 100%; }
  .secciones .contenedor .guitarra {
    margin: 30px; }
    .secciones .contenedor .guitarra h4 {
      color: rgba(181, 181, 181, 0.9);
      text-align: center;
      margin: 50px 0px;
      border: 2px solid rgba(168, 159, 159, 0.605);
      border-radius: 15px; }
    .secciones .contenedor .guitarra img {
      width: 100%; }
  .secciones .contenedor .bajo {
    margin: 30px; }
    .secciones .contenedor .bajo h4 {
      color: rgba(181, 181, 181, 0.9);
      text-align: center;
      margin: 50px 0px;
      border: 2px solid rgba(168, 159, 159, 0.605);
      border-radius: 15px; }
    .secciones .contenedor .bajo img {
      width: 100%; }

div {
  margin-top: 60px;
  position: relative; }
  div h1 {
    margin: 10px 0px;
    color: white;
    text-align: center;
    font-size: 1.5em; }

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  div .selector {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 12px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: black; }
