@import "../variables/variables";
.card{
        display: flex;
        flex-direction: column;
        width: 230px;
        margin:10px auto;
        background-color:$card;
        border: $borde;
        border-radius: 10px;
}
.subtitulos{
                color: rgba(181, 181, 181, 0.9);
                text-align: center; 
                margin: 50px 0px;
                border: $borde-secciones;
                border-radius: 15px;
}
.animaciones{
    animation: instrumento 5s infinite;
    animation-direction: alternate;
}
.li{
    padding: 10px;
    border-bottom: 1px solid rgba(153, 148, 148, 0.498);
}
.titulo-esp{
    text-align: center;
    padding: 10px;
    font-size: 2em;
    border-bottom: 1px solid rgba(153, 148, 148, 0.498);
}
.posicion{
    margin-top: 60px;
    position: relative;
}
