@import "../variables/variables";
footer{
    background-color: $fondo-footer;
    .yo{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 2em;
            margin: 40px 0px;
            text-align: center;
            color: white;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 3em;
            text-decoration: none;
            margin: 40px 0;
            .instagram{
                animation: instagram 3s infinite;
                animation-direction: alternate;
            }
            @keyframes instagram{
                0%{
                    color: white;
                }
                100%{
                    color: rgb(223, 1, 223);
                }
            }
            .linkedin{
                animation: linkedin 3s infinite;
                animation-direction: alternate;
            }
            @keyframes linkedin{
                0%{
                    color: white;
                }
                100%{
                    color: rgb(22, 10, 255);
                }
            }
            .youtube{
                animation: youtube 3s infinite;
                animation-direction: alternate;
            }
            @keyframes youtube{
                0%{
                    color: white;
                }
                100%{
                    color: rgb(225, 27, 27);
                }
            }
}
}
    .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        margin: 20px auto;
        h3{
            font-size: 2em;
            margin: 0px 0px 20px 0px;
        }
        ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            li{
                font-size: 1.5em;
                margin: 10px 0px;
            }
        }
    }
    p{  
        margin: 30px 0px;
        font-size: 1em;
        text-align: center;
        color: white;
    }
    .derechos{
        height: 30px;
        text-align: center;
        font-size: 0.5em;
        color: white;
    }
}





@media (min-width:768px){
    footer{
        .yo{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            h3{font-size: 2em;}
            div{
                flex-direction: column;
                a{  
                    font-size: 1.5em;
                    margin-bottom: 45px;
                }
            }
        }
        .productos{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 0;
            h3{
                font-size: 2em;
            }
            ul{
                li{
                    font-size: 1em;
                }
            }
        }
        p{
            font-size: 1em;
        }
    }
}

@media (min-width:1024px) {
    footer{
        .yo{
            margin: 0px 50px;
            justify-content: space-between;
            div{
            flex-direction: row;
            align-content: center;
            margin: 0px;
            a{
                margin: 0px 20px;
            }
        }
    }
    .productos{
        margin:0px 50px;
        margin-top: 40px;
        justify-content: space-between;
        ul{
            flex-direction: row;
            li{
                margin: 0px 20px;
            }
        }
    }
}
}