@import "../variables/variables";
@import "../sass-2/mixin";
footer{
    background-color: $fondo-footer;
    .yo{
        @include grilla(grid,1,2,20px);
        h3{
            position: relative;
            top: 40px;
            font-size:2em;
            text-align: center;
            color: white;
            font-weight: 200;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 2em;
            text-decoration: none;
            margin: 40px 0;
            .instagram{
                animation: instagram 3s infinite;
                animation-direction: alternate;
            }
            /*animacion por separado debido a los diferentes colores*/
            @keyframes instagram{
                0%{
                    color: white;
                }
                100%{
                    color: rgb(223, 1, 223);
                }
            }
            .linkedin{
                animation: linkedin 3s infinite;
                animation-direction: alternate;
            }
            @keyframes linkedin{
                0%{
                    color: white;
                }
                100%{
                    color: rgb(22, 10, 255);
                }
            }
            .youtube{
                animation: youtube 3s infinite;
                animation-direction: alternate;
            }
            @keyframes youtube{
                0%{
                    color: white;
                }
                100%{
                    color: rgb(225, 27, 27);
                }
            }
}
}
    .productos{
        @include grilla(grid,1,2,10px);
        color: white;
        h3{
            position: relative;
            top: 80px;
            font-size:2em;
            text-align: center;
            color: white;
            font-weight: 200;
        }
        ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            li{
                font-size: 1.5em;
                margin: 10px 0px;
            }
        }
    }
    .autor{
    p{  
        margin: 30px 0px;
        font-size: 1em;
        text-align: center;
        color: white;
    }
    .derechos{
        height: 30px;
        text-align: center;
        font-size: 0.5em;
        color: white;
    }}
}





@media (min-width:768px){
    footer{
        .yo{
            @include grilla(grid,2,1,20px);
            h3{
                font-size: 2em;
            }
            div{
                a{  
                    font-size: 1em;
                    margin-left: 50px;
                }
            }
        }
        .productos{
            @include grilla(grid,2,1,20px);
            h3{
                font-size: 2em;
                font-weight: 200;
            }
            ul{
                position: relative;
                top:50px;
                li{
                    font-size: 1em;
                }
            }
        }
        .autor{
            margin-top: 80px;
        p{
            font-size: 1em;
        }}
    }
}

@media (min-width:1024px) {
    footer{
        .yo{
            div{
            flex-direction: row;
            align-content: center;
            a{
                margin: 0px 20px;
            }
        }
    }
    .productos{
        ul{@include grilla(grid,2,2,20px);
            li{
                margin: 0px 20px;
            }
        }
    }
    .autor{
        @include grilla(grid,1,1,20px);
    }
}
}