footer{
    background-color: rgba(121, 114, 114, 0.073);
    .yo{
        display: flex;
        flex-direction: column;
        color: white;
        h3{
            font-size: 1em;
            margin: 30px 0px;
            text-align: center;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 1.5em;
            a{  
                text-decoration: none;
                color: white;
                &:hover{
                    position:relative;
                    bottom: 3px;
                    color: white;
                }
            }
        }
    }
    .productos{
        display: flex;
        flex-direction: column;
        color: white;
        h3{
            font-size: 1.5em;
            margin: 0px 0px 20px 0px;
            text-align: center;
        }
        ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            li{
                font-size: 13px;
                margin: 10px 0px;
                list-style-type: none;
            }
        }
    }
    p{  
        margin: 30px 0px;
        font-size: 0.8em;
        text-align: center;
        color: white;
    }
    .derechos{
        height: 30px;
        text-align: center;
        font-size: 7px;
        color: white;
    }
}





@media (min-width:768px){
    footer{
        .yo{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            h3{font-size: 2em;}
            div{
                flex-direction: column;
                a{  
                    font-size: 1.5em;
                    margin-bottom: 45px;
                }
            }
        }
        .productos{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}