@import "../variables/variables";
form{
    width: 80%;
    margin: 40px auto;
    background: rgba(163, 161, 161, 0.4);
    padding:10px 20px ;
    box-sizing: border-box;
    border-radius: 15px;
    border: $borde;
    h2{
    color: rgb(0, 0, 0);
    text-align: center;
    margin:10px auto;
    font-size: 15px;
    }
    label{
        font-weight: 10px;
        color: white;
    }
    input{
        width: 100%;
        margin-bottom: 0px;
        padding: 7px;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        min-height: 120px;
        max-height: 220px;
        max-width: 100%;
    }
    button{
        width: 100%;
        color: white;
        background: rgba(0, 0, 0, 0.9);
        padding: 20px;
        border: 1px solid white;
        border-radius: 5px;
        font-weight: 400;
        margin: 20px auto;
        font-size: 1.5em;
        &:hover{
            background: rgba(89, 27, 203, 0.808);
            color: black;
            cursor: pointer;
        }
    }
}

@media (min-width:500px){
    form{
        width:60%;
        margin-bottom: 50px;
    }
}

@media (min-width:768px){
    form{
        width:450px;
    }
}