section{
    .informacion{
        display: flex;
        flex-direction: column;
        img{
        width: 60%;
        margin: 20px auto;
        border: $borde;
        }
        p{  
            width:80%;
            font-size: 15px;
            color: white;
            margin: 20px auto;
            text-align: left;
            font-family: verdana;
        }
    }
}

@media (min-width:768px){
    section{
        .informacion{
            flex-direction: row;
            gap: 20px;
            img{
                width: 50%;
                margin: 20px;
            }
            p{
                font-size: 24px;
                padding: 20px;
            }
        }
    }
}

@media (min-width:1024px){
    section{
        .informacion{
            img{
                width: 30%;
            }
            p{
                font-size: 30px;
            }
        }
    }
}