@import "../sass-2/mixin";
.introduccion{
    text-align: center;
    color:white;
    h2{
        margin: 30px;
        font-size: 2em;
    }
    h3{
        margin: 10px;
        font-size: 1.5em;
    }
    p{  
        font-size: 1em;
        font-weight: 500;
    }
}
.secciones{
    .contenedor{
        @include flexible(flex,row,center);
        color: white;
        font-size: 1em;
        font-family:$fuente;
        .colaboraciones{
            margin: 0px 30px 30px 30px;
            h2{
                @extend .subtitulos;
            }
            img{
                width: $completo;
            }
        }
        .guitarra{
            margin: 30px;
            h2{
                @extend .subtitulos;
            }
            div{
            img{
                /*asigno animacion del inicio*/
                @extend .animaciones;
                width: $completo;
            }
            .especificaciones{
                    display: none;
                    width: 500px;
                    flex-direction: column;
                    background-color: rgba(84, 81, 81, 0.425);
                    h3{
                        @extend .titulo-esp;
                    }
                    ul{
                        list-style-type: none;
                        li{
                            @extend .li;
                        }
                    }
            }
            }
            @keyframes instrumento{
                0%{
                    transform: rotateX(0deg);
                }
                100%{
                    transform: rotateX(30deg);
                }
                
            }
        }
        .bajo{
            margin: 30px;
            h2{ 
                @extend .subtitulos;
            }
            div{
            img{
                /*asigno animacion del inicio a bajo*/
                @extend .animaciones;
                width: $completo;
            }
            .especificaciones{
                flex-direction: column;
                background-color: rgba(84, 81, 81, 0.425);
                display: none;
                width: 500px;
                    h3{
                        @extend .titulo-esp;
                    }
                    ul{
                        list-style-type: none;
                        li{
                            @extend .li;
                        }
                    }
            }
            }
            @keyframes instrumento{
                0%{
                    transform: rotateX(0deg);
                }
                100%{
                    transform: rotateX(30deg);
                }
            }
        }
    }
}

@media (min-width:768px){
    .introduccion{
        h2{
            font-size: 3em;
        }
        p{
            font-size: 2em;
        }
    }
    .secciones{
        .contenedor{
            .colaboraciones{
                h4{
                    font-size: 2em;
                }
            }
            .guitarra{
                h4{
                    font-size: 2em;
                }
                div{
                    @include flexible(flex, column, space-between);
                    .especificaciones{
                        display: flex;
                        width: 80%;
                        margin: 30px auto;
                    }
                }
            }
            .bajo{
                h4{
                    font-size: 2em;
                }
                div{
                    @include flexible(flex, column, space-between);
                    .especificaciones{
                        display: flex;
                        width: 80%;
                        margin: 30px auto;
                    }
                }
            }
        }
    }
}
@media (min-width:1024px){
    .secciones{
        .contenedor{
            .guitarra{
                div{
                    flex-direction: row;
                    img{
                        width: 50%;
                        height: 50%;
                        align-self: center;
                    }
                    .especificaciones{
                        margin: 20px;
                        width: 400px;
                    }
                }
            }
            .bajo{
                div{
                    flex-direction: row;
                    img{
                        width: 50%;
                        height: 50%;
                        align-self: center;
                    }
                    .especificaciones{
                        margin: 20px;
                        width: 400px;
                    }
                }
            }
        }
    }
}