@import "../sass-2/mixin";

.instrumentos{
    @include grilla(grid,1,0,5px);
    margin:20px;
    width: 95%;
    .card{
        @extend .card;
        img{
            width: 50%;
            margin: 20px auto;
            &.a:hover{
                filter: drop-shadow(0 0 30px rgb(179, 255, 0));
            }
            &.b:hover{
                filter: drop-shadow(0 0 30px rgb(255, 191, 0));
            }
            &.c:hover{
                filter: drop-shadow(0 0 20px rgb(125, 99, 186));
            }
            &.d:hover{
                filter: drop-shadow(0 0 30px rgb(78, 182, 196));
            }
            &.e:hover{
                filter: drop-shadow(0 0 30px rgb(255, 0, 225));
            }
            &.f:hover{
                filter: drop-shadow(0 0 30px rgb(43, 255, 0));
            }
            &.g:hover{
                filter: drop-shadow(0 0 30px rgb(255, 0, 0));
            }
            &.h:hover{
                filter: drop-shadow(0 0 30px rgb(255, 255, 255));
            }
        }

        h4{ 
            font-size: 16px;
            margin: 20px auto;
            color: white;
        }
    }
}

@media (min-width:768px){
    .instrumentos{
        @include grilla(grid, 2, 0, 10px);
        .card{
            h4{
                font-size:20px;
            }
        }
    }
}

@media (min-width:1024px){
    .instrumentos{
        @include grilla(grid, 4,0,20px )
    }
}