.select{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    margin: 100px 0px;
.selector{
    width:100px ;
    height:40px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid white;
    background-color: black;
}
}

@media (min-width:768px){
    .select{
        .selector{
            width: 130px;
            font-size: 18px;
        }
    }
}

@media (min-width:1024px){
    .select{
        margin: 150px 0px;
        .selector{
            width: 150px;
            font-size: 18px;
        }
    }
}