.titulos{
    @extend .posicion;
    h1{ 
        margin:10px 0px;
        color: white;
        text-align: center;
        font-size: 1.5em;
}
}

@media (min-width:768px){
    .titulos{
        h1{
            font-size: 2em;
        }
    }
}
@media (min-width:1024px){
    .titulos{
        h1{
            font-size: 2.5em;
        }
    }
}